.container {
  width: 50%;
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.subheading {
  color: rgb(131, 130, 130);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
