.container {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.label {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.5rem;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1.2rem;
  width: 70%;
}
